@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Readex+Pro:wght@160..700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    background-color: #F1F1F1;
}


body{
    margin: 0px;
    padding: 0px;
    font-family: "Inter", serif;
    background-color: #F1F1F1;
    color: #000E59;
}
.noti{
    position: fixed;
    top: 10px;
    right: -400px;
    transition: 0.5s;
    z-index: 3;
}
.noti p{
    background-color: red;
    padding: 10px 30px;
    background-color: white;
    border: 1px #000E59 solid;
    border-left: 5px #4D61F4 solid;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 36px;
    margin-left: 18px;
    margin-right: 18px;
    margin-top: 30px;
    padding: 0px 56px;
    height: 62px;
}
.navbar-left p{
    background-color: white;
    margin-left: -32px;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: -1px;
}
.navbar-left a{
    color: #000E59;
    background-color: white;
    text-decoration: none;
}
.navbar-center ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 28vw;
    background-color: white;
    list-style-type: none;
}

.navbar-center ul li a{
    text-decoration: none;
    font-style: normal;
    background-color: white;
    text-decoration: none;
    color: #000E59;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 0px;
}
.navbar-right{
    display: flex;
    background-color: white;
    align-items: center;
}
.navbar-right p{
    font-size: 14px;
    background-color: white;
    font-weight: 500;

}
.navbar-right a{
    text-decoration: none;
    color: #000E59;
    background-color: white;
}
.navbar-right img{
    display: none;
}
.navbar-right button{
    visibility: hidden;
}
.hero{
    width: 97.5vw;
    height: 84vh;
    background-image: url('/HeroBg.png');
    background-size: cover;
    margin-left: 18px;
    margin-left: 18px;
    border-radius: 36px;
    margin-top: 18px;
    color: white;

}
.hero-head{
    background-color: #00000000;
    font-size: 60px;
    letter-spacing: -2px;
    font-weight: 500;
    position: relative;
    top: 260px;
    left: 94px;
    width: fit-content;
}
.hero-sub-head{
    background-color: #00000000;
    font-size: 24px;
    font-weight: 200;
    max-width: 40vw;
    position: relative;
    top: 280px;
    left: 94px;
}
.hero form{
    background-color: #00000000;
    position: relative;
    top: 300px;
    left: 94px;
    width: fit-content;
    background-color: white;
    border-radius: 36px;
    background-color: white;
}
.hero form input{
    font-family: "Inter", serif;
    height: 30px;
    width: 350px;
    padding: 10px;
    padding-left: 40px;
    background: white;
    border: 1px white solid;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}
.hero form input::placeholder{
    opacity: 1;
    color: #000E59;
    font-size: 14px;
}
.hero form input:focus{
    outline: none;
    border: 1px white solid;
}
.hero form button{
    margin-top:2px ;
    background-color: #000E59;
    height: 50px;
    width: fit-content;
    padding: 0px 30px;
    border: 1px white solid;
    color: white;
    border-radius: 30px;
    font-size: 14px;
    font-family: "Inter", serif;
    transition: 0.2s;
    margin-right: 2px;
}
.hero form button:hover{
    background-color:white;
    color: #000E59;
    border: 1px #000E59 solid;
    
}
.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 9vw;
    text-align: center;
    margin-top: 40px;
}
.about-head{
    font-size: 18px;
    font-weight: 600;
}
.about-content{
    font-size: 46px;
    font-weight: 500;
    margin-top: 10px;
}
.about-learn-more{
    background-color: #00000000;
    border: 0px white solid;
    margin-top: 10px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}   
.about-learn-more a{
    color: #000E59;
    text-decoration: none;
}
.about-learn-more img{
    margin-left: 10px;
    width: 10px;
    height: 10px;
}
.fet{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 7vh 7vw;
}
.fet p{
    background-color: #00000000;
}
.fet-head{
    font-size: 32px;
    font-weight: 500;
    margin:0px 20px;
}
.fet-cot{
    font-size: 16px;
    font-weight: 300;
    margin:0px 20px;
    width: 70%;
}
.fet-left{
    width: 50%;
    padding: 0px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}
.fet-right{
    width: 50%;
    padding: 0px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}
.fet-left-top{
    flex: 1;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    border-radius: 28px;
    background-color: #000E59;
    color: white;
    /* background-image: url('/Pattern1.png'); */
    background-position-y: -20px;
    background-position-x: -20px;
}
.fet-left-center{
    flex: 1;
    margin-bottom: 10px;
    display: flex;
}
.fet-left-bottom{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #000E59;
    color: white;
    border-radius: 28px;
    padding-right:40px ;
    height: 30vh;
    /* background-image: url('/Pattern3.png'); */
    background-size: cover;

}
.fet-left-bottom .fet-head{
    margin-bottom: -60px;
}
.fet-right-bottom .fet-head{
    margin-bottom: -60px;
}

.fet-left-center-left{
    flex: 1;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    border-radius: 28px;
    background-color: #FFFFFF;
    /* background-image: url('/Grid.png'); */
    background-size: cover;
    padding: 20px 0px;
}
.fet-left-center-left .fet-head, .fet-left-center-right .fet-head{
    font-size: 24px;
    font-weight:500 ;
}
.fet-left-center-left .fet-cot , .fet-left-center-right .fet-cot{
    font-size: 16px;
    font-weight:300 ;
}
.fet-left-center-right{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    border-radius: 28px;
    background-color: #4D61F4;
    padding: 20px 0px;
    color: white;
    /* background-image: url('/Pattern2.png'); */
    background-size: cover;
}
.fet-right-top{
    flex:1;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    border-radius: 28px;
    background-color: #FFFFFF;
    /* background-image: url('/Vector.png'); */
    background-size: cover;
    height: 600px;
}
.fet-right-top .fet-head{
    margin-top: 20px;
}
.fet-right-top .fet-cot{
    margin-bottom: 40px;
    margin-top: 20px;
}
.fet-right-bottom{
    /* flex:1; */
    height: 32vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    border-radius: 28px;
    background-color: #4D61F4;
    padding-right:40px ;
    color: white;
    /* background-image: url('/Line.png'); */
    background-size: cover;

}


/*  */

.staytuned-btns{
    display: none;
}
.stayTuned p {
    text-align: center;
    font-size: 12px;

}
.roadmap{
    margin: 50px 0px ;
    text-align: center;
    margin-top: 40px;
    z-index: -1;
}
.roadmap-top-title{
    font-size: 18px;
    font-weight: 600;
}
.roadmap-top-head{
    font-size: 48px;
    font-weight: 500;
    margin-top: 10px;
}
.roadmap-top-sub-head{
    font-size: 20px;
    font-weight: 300;
    margin-top: 8px;
    max-width: 60vw;
    margin-left: 20vw;
}
.roadmap-bottom{
    width: 90vw;
    margin-left: 5vw;
    margin-top: 57px;
    border-radius: 36px;
    height: 70vh;
    background-color: #000E59;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.roadmap-bottom-img1{
    background-color: #00000000;
    width: 90%;
    height: 55vh;
    position: relative;
    top: -100px;
    z-index: 0; 
}
.roadmap-bottom-img2{
    position: relative;
    background-color: #00000000;
    right: -4%;
    top: -90px;
    z-index: 0;

}
.roadmap-b-item-1{
    background-color: #00000000;
}
.roadmap-b-item-1 p{
    background-color: #4d61f4;
    color: white;
    width: 20vw;
    text-align: left;
    padding: 12px;
    position: relative;
    top: 153px;
    border-radius: 12px;
    font-size: 15px;
    font-weight: 300;
    left: -23vw;
    z-index: 1;
}
.roadmap-b-item-2{
    background-color: #00000000;
}
.roadmap-b-item-2 p{
    background-color: #4d61f4;
    color: white;
    width: 40vw;
    text-align: left;
    padding: 12px;
    position: relative;
    top: 193px;
    border-radius: 12px;
    font-size: 15px;
    font-weight: 300;
    z-index: 1;
    left: -4vw;
}
.roadmap-b-item-3{
    background-color: #00000000;
}
.roadmap-b-item-3 p{
    background-color: #4d61f4;
    color: white;
    width: 14vw;
    text-align: left;
    padding: 12px;
    position: relative;
    top: 223px;
    border-radius: 12px;
    font-size: 15px;
    font-weight: 300;
    z-index: 1;
    left: 9vw;
}
.roadmap-b-item-4{
    background-color: #00000000;
}
.roadmap-b-item-4 p{
    background-color: #4d61f4;
    color: white;
    width: 28vw;
    text-align: left;
    padding: 12px;
    position: relative;
    top: 253px;
    border-radius: 12px;
    font-size: 15px;
    font-weight: 300;
    z-index: 1;
    left: 10vw;
}
.roadmap-b-item-5{
    background-color: #00000000;
}
.roadmap-b-item-5 p{
    background-color: #4d61f4;
    color: white;
    width: 16vw;
    text-align: left;
    padding: 12px;
    position: relative;
    top: 313px;
    border-radius: 12px;
    font-size: 15px;
    z-index: 1;
    font-weight: 300;
    left: 32vw;
}
.roadmap-addon{
    display: none;
}
.get{
    width: 90vw;
    margin-left: 5vw;
    margin-top: 80px;
}
.get-top p{
    font-size: 58px;
    font-weight: 500;
}
.get-b-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-top: 41px;
}
.get-b-top input{
    flex:1;
    border: 0px white solid;
    border-bottom: 1px #000E59 solid;
    color: #000E59;
    font-size: 18px;
    padding: 30px 0px;
}
.get-b-top input:focus{
    border: 0px white solid;
    border-bottom: 1px #000E59 solid;
    outline: none;
}
.get-b-top input::placeholder{
    color: #000E59;
    opacity: 1;
    font-size: 14px;
    font-family: "Inter", serif;
    font-weight: 300;
}
.get-b-b{
    display: flex;
}
.get-b-b textarea{
    margin-top: 0px;
    padding: 30px 0px;
    flex: 1;
    border: 0px white solid;
    border-bottom: 1px #000E59 solid;
    font-family: "Inter", serif;
    font-size: 18px;
}
.get-b-b textarea:focus{
    border: 0px white solid;
    border-bottom: 1px #000E59 solid;
    outline: none;
}
.get-b-b textarea::placeholder{
    color: #000E59;
    opacity: 1;
    font-size: 14px;
    font-weight: 300;
}
.get button{
    font-family: "Inter", serif;
    background-color: #000E59;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 40px;
    border: 1px #000E59 solid;
    border-radius: 40px;
    margin-top: 50px;
    cursor: pointer;
    font-weight: 300;
    transition: 0.2s;
    background-image: url('/Arrow3.png');
    background-repeat: no-repeat;
    background-position-x:187px ;
    background-position-y:18px ;
    padding-right: 80px;
}
.get button:hover{
    background-color: white;
    background-image: url('/Arrow3_dark.png');
    color: #000E59;
}
.get img{
    background-color: #00000000;
    margin-top: 3px;
    margin-left: 20px;
}

footer{
    background-color: white;
    margin: 10px;
    border-radius: 36px;
    padding-bottom: 30px;
}   
.footor-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 5vw;
    padding-top: 80px;
    align-items: flex-start;
    border-radius: 36px;
    background-color: white;
    margin-top: 100px;
    margin-bottom: 50px;
}

.footor-left{
    background-color: white;
}
.footor-left p,.footor-left ul li , .footor-left form{
    background-color: white;
}

.footor-l-head{
    font-size:44px ;
    font-weight: 500;
    letter-spacing: -2px;
}
.footor-l-sub-head{
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;
}
.footor-left form{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 36px;
    border: 1px #000E59 solid;
    overflow: hidden;
    margin-top: 10px;
}
.footor-left form input{
    font-family: "Inter", serif;
    border: 1px white solid;
    background-color: white;
    height: 40px;
    width: 18vw;
    border-radius: 36px;
    padding: 0px 30px;
}

.footor-left form input::placeholder{
    color: #000E59;
    opacity: 1;
}
.footor-left form input:focus{
    border: 1px white;
    outline: none;
}

.footor-left form button{
    background-color: #000E59;
    background-image: url('/Waitlistbtn_light.png');
    border: 1px #000E59 solid;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0px white solid;
    margin: 0px ;
    margin-right: 1px;
    background-size: contain;
    transition: 0.2s;
}
.footor-left form button:hover{
    background-color: white;
    border: 1px #000E59 solid;
    background-image: url('/Waitlistbtn_dark.png');
}
.footor-left form img{
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
}
.footor-right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20vw;
    align-items: flex-start;
    background-color: white;
    margin-right: 100px;
}
.footor-right p{
    margin-bottom: 20px;
    background-color: white;
    font-weight: 600;
    font-size: 18px;
}
.footor-r-left , .footor-r-right {
    background-color: white;
}
.footor-r-left ul , .footor-r-right ul{
    background-color: white;
}
.footor-r-left ul li ,.footor-r-right ul li {
    list-style: none;
    text-decoration: none;
    background-color: white;
    margin-top: 14px;
    font-weight: 300;
}
.footor-r-left ul li a,.footor-r-right ul li a{
    list-style: none;
    text-decoration: none;
    background-color: white;
    margin-top: 8px;
    font-weight: 300;
    color: #000E59;
}
.footor-cpwrite{
    background-color: white;
    text-align: center;
    font-size: 12px;
    font-weight: 300;
}