@media screen and (max-width:480px){

*{
    margin: 0px;
    padding: 0px;
    background-color: #F1F1F1;
}


body{
    margin: 0px;
    padding: 0px;
    font-family: "Inter", serif;
    background-color: #F1F1F1;
    color: #000E59;
    overflow-x: hidden;
}

.navbar{
    padding: 0px 26px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
}

.navbar-center ul{
    display: none;
}
.navbar-right p{
    display: none;
}
.navbar-right img{
    display: flex;
    background-color: #000E59;
    border-radius: 10px;
    padding: 10px;
}
.hero{
    flex: 1;
    max-width: 95vw;
    height: 84vh;
    margin-left: 10px;
    margin-right: 0px;
    border-radius: 36px;
    margin-top: 18px;
    color: white;

}
.hero-head{
    background-color: #00000000;
    font-size:30px;
    font-weight: 500;
    position: relative;
    top: 200px;
    left: 10px;
    width: fit-content;
}
.hero-sub-head{
    background-color: #00000000;
    font-size: 18px;
    font-weight: 200;
    max-width: 80vw;
    position: relative;
    top: 210px;
    left: 10px;
}
.hero form{
    top: 300px;
    left: 10px;
    width: 90vw;
    display: flex;
    border-radius: 20px;
}

.hero form button{
    width: 50vw;
}

.about-head{
    font-size: 14px;
}
.about-content{
    font-size: 20px;
    font-weight: 500;
    margin-top: 30px;
}
.about-learn-more{
    font-size: 12px;
}   

.fet{
    margin-top: 0px;
    flex-direction: column;
}
.fet p{
    background-color: #00000000;
}
.fet-head{
    font-size: 20px;
}
.fet-cot{
    font-size: 12px;
    margin:0px 20px;
    width: 70%;
}
.fet-left{
    display: none;
}
.fet-right{
    width: 100%;
    padding: 0px 0px;
    height: fit-content;
}

.fet-right-top{
    flex:1;
    margin-bottom: 10px;
}
.fet-right-top .fet-head{
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 70%;
}
.fet-right-top .fet-cot{
    margin-bottom: 40px;
    margin-top: 20px;
}
.fet-right-bottom{
    display: none;
}

}